html {
  font-size: 62.5%;
}

nav {
  display: flex;
  justify-content: space-around;
}

.games {
  margin: 10px;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.meal-thumb {
  width: 100%;
}
