html {
  font-size: 62.5%;
}

nav {
  display: flex;
  justify-content: space-around;
}

.meals {
  margin: 10px;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.meal-thumb {
  width: 100%;
}

.meal-detail-shadow {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}

.meal-detail {
  width: 80%;
  border-radius: 1rem;
  padding: 2rem 2rem;
  background: white;
  position: absolute;
  left: 10%;
  color: black;
}

.meal-detail-wrapper {
  width: 50%;
  margin: auto;
}

.meal-detail img {
  width: 100%;
}
